@model IEnumerable<MiIngresoHitss.Web.Models.Clientes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cliente</h2>


<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>

                    <a href="@Url.Action("Edit", new { id = item.ClienteId })" class="btn btn-primary">Editar</a>
                    <a href="@Url.Action("Details", new { id = item.ClienteId })" class="btn btn-info">Detalles</a>
                    <a href="@Url.Action("Delete", new { id = item.ClienteId })" class="btn btn-danger">Eliminar</a>
                </td>


            </tr>
        }

</table>

@using (Html.BeginForm("Create", "Cliente", FormMethod.Post))
{
    <p>
        @Html.ActionLink("Crear cliente", "Create", null, new { @class = "btn btn-primary" })
    </p>
    
}
